
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #444444;
  color: #e5e5e5;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.cause {
  z-index: -2;
  position: absolute;
  width: 50vw;
  margin-left: 175px;
  margin-top: 25px;
}

.location-label {
  position: absolute;
  transform: rotate(-90deg);
  margin: 200 auto;

}

.location {
  margin: 50px 0px 50px 300px;
  width: 650px;
  height: 250px;
  clip-path: fill-box;
  display: flex;
}

.colour-text {
  margin-left: 300px;
  width: 650px;
}

.colour {
  margin: 0px 0px 50px 300px;
  width: 650px;
  height: 250px;
  clip-path: fill-box;
  display: flex;
}

main {
  width: 25%;
  margin: 0% 50% ;
  padding-top: 25px;
  font-size: 14px;
  display: grid;
}

.about {
  width: 40%;
  margin: auto;
  padding-top: 125px;
  font-size: 24px;
  display: flex;
}

h1 {
  margin: 0;
  padding: 70px;
}

h1 a {
  width: 50%;
}

header {
  height: 200px;
  background-color: #333;
  color: #fff;
  width: 100vw;
  align-content: center;
  position: relative;
}

header a {
  height: 250px;
  background-color: #333;
  color: #A5DFAA;
  width: 100vw;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1.5em;
}

.select a {
  color: #A5DFAA;
  border: 1px solid #A5DFAA;
  padding: 6px 16px 6px 80px;
  text-decoration: none;
  font-size: 24px;
}

h2 {
  color: #a0a0a0;
  font-weight: lighter;
  font-size: 36px;
  margin: 0% 45%;
  width: 45%;
  font-style: oblique;
  padding-top: 75px;
  padding-bottom: 25px;
}

.grid-container {
  display: grid;
  gap: 50px 5px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 50px 100px 50px 0px;
}

.grid-image {
  display: grid;
  height: 350px;
  width: 717px;
  overflow: hidden;
}

.grid-image img {
  width: 717px;
}

h3 {
  display: grid;
  margin-left: 50px;
  margin-top: 105px;
}

.type {
  display: flex;
  width: 80%;
  margin-top: -15px;
  padding: 0px 100px 80px 50px;
}

.arc {
  display: flex;
  width: 50%;
  margin-top: -15px;
  margin-left: 200px;
}

ul a:hover {
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  padding: 6px 16px 6px 80px;
  text-decoration: none;
  font-size: 24px;
  transition: 250ms linear;
}

nav {
  position: absolute;
  top: 300px;
  left: -80px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  margin: 0 0 42px 0;
  transform: rotate(-30deg);
}

nav a {
  color: #000;
  border: 1px solid #000;
  padding: 6px 16px 6px 80px;
  text-decoration: none;
  font-size: 24px;
}