
h1 {
    font-size: 42px;
    font-family: 'Helvetica';
}

body {
    font-size: 18px;
    font-family: 'Helvetica';
    padding-left: 10px;
    padding-top: 10px;
}


nav {
    padding: 10px;
    font-size: 14px;
    transform: translate(12%);
    

}


