
* {
    box-sizing: border-box;
  }

@font-face {
    font-family: Bookman;
    src: url(../project2/Bookman/BookmanStd-Medium.otf);
}

@font-face {
    font-family: Futura;
    src: url(../project2/FuturaStd/FuturaStd-Book.otf);
}

@font-face {
    font-family: 'FuturaStd-CondensedBold';
    src: url(../project2/FuturaStd/FuturaStd-CondensedBold.otf);
}

@font-face {
    font-family: 'FuturaStd-BookOblique';
    src: url(../project2/FuturaStd/FuturaStd-LightOblique.otf);
}

body {
    font-family: Futura, 'Helvetica Neue', sans-serif;
    color: #FEF4E0;
    font-size: 14px;
}

h1 {
    font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #FFFBD5;
}

a {
  text-decoration: none;
  color: #FEF4E0;
}

@media (max-width: 520px) {
  body {
    background-color: rgb(73, 65, 65);
    margin: auto;
  }

    header {
      display: inline-flex;
      flex-wrap: nowrap;
      width: 100%;
    }

    img, .logo {
      display: flex;
      width: 50vw;
      margin-bottom: 25px;
  }

    .left .menu-item {
      visibility: hidden;
    }

    .right .menu-item {
      visibility: hidden;
    }

    /* MOBILE MENU */
    .modal {
      opacity: 0;
      padding: auto;
      position: absolute;
      z-index: 1100;
      text-decoration: none;
      -webkit-transition: opacity 600ms linear 600ms;
      -moz-transition: opacity 600ms linear 600ms;
      -ms-transition: opacity 600ms linear 600ms;
      -o-transition: opacity 600ms linear 600ms;
      transition: opacity 600ms linear 600ms;
    }

    .modal_info {
      display: grid;
      grid-template-columns: 125px 125px;
      gap: 15px;
      background: #715A5A;
      opacity: 95%;
      text-decoration: none;
      text-align: center;
      font-family: Bookman, serif;
      padding: 15px;
      justify-content: center;
      border-radius: 5px;
    }

    .menu-item {
        display: grid;
        background-color: #202124;
        width: 125px;
        height: 125px;
        padding: 53px 20px;
        border-radius: 100%;
    }

    .menu-item a {
        color: #e5e5e5;
        text-decoration: none;
    }

    .modal_overlay {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      left: 0;
      opacity: 0;
      overflow: auto;
      position: fixed;
      right: 0;
      top: 0;
      visibility: hidden;
      z-index: 900;
      -webkit-transition: opacity 200ms linear;
      -moz-transition: opacity 200ms linear;
      -ms-transition: opacity 200ms linear;
      -o-transition: opacity 200ms linear;
      transition: opacity 200ms linear;
    }

    .display {
      opacity: 1;
      visibility: visible;
    }

    .conceal {
      visibility: visible;
    }

    .btn_container {
      height: 100%;
      /* border: 1px dashed white; */
      text-align: right;
      width: 50%;
      border-radius: 5px;
      padding-right: 5px;
    }

    .btn_container:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      width: 0;
      width: 50%;
    }

    /* MENU BUTTON */
    .open_button {
      /* border: 1px solid yellow; */
      background: #715a5a;
      display: inline-flex;
      justify-content: center;
      height: 66px;
      position: relative;
      vertical-align: middle;
      width: 50%;
      border-radius: 5px;
      z-index: 1000;
      -webkit-transition: opacity 100ms linear;
      -moz-transition: opacity 100ms linear;
      -ms-transition: opacity 100ms linear;
      -o-transition: opacity 100ms linear;
      transition: opacity 100ms linear;
    }

    a.open_button {
      color: #FFFFFF;
      line-height: 66px;
      font-family: Bookman, serif;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      padding-top: 3px;
    }

    a.open_button:hover {
      background: #C3B7B7;
    }

    a.open_button.load {
      opacity: 0;
    }

    button.modal_close {
      background: #363D4E;
      border: none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      color: #FFFFFF;
      cursor: pointer;
      outline: none;
      width: 52px;
      height: 52px;
      position: absolute;
      right: -20px;
      top: -20px;
      -webkit-transition: -webkit-transform 600ms;
      -moz-transition: -moz-transform 600ms;
      -ms-transition: -ms-transform 600ms;
      -o-transition: -o-transform 600ms;
      transition: transform 600ms;
    }

    button.modal_close:hover {
      background: #3E465A;
      -webkit-transform: rotate(360deg) scale(1.10);
      -moz-transform: rotate(360deg) scale(1.10);
      -ms-transform: rotate(360deg) scale(1.10);
      -o-transform: rotate(360deg) scale(1.10);
      transform: rotate(360deg) scale(1.10);
      -webkit-transition: -webkit-transform 600ms;
      -moz-transition: -moz-transform 600ms;
      -ms-transition: -ms-transform 600ms;
      -o-transition: -o-transform 600ms;
      transition: transform 600ms;
    }

    button.modal_close span, span:before, span:after {
      background: #FFFFFF;
      content: '';
      cursor: pointer;
      display: block;
      height: 2px;
      position: absolute;
      width: 20px;
    }

    button.modal_close span:first-child {
      background: none;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }

    button.modal_close span:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    button.modal_close span:after {
      -webkit-transform: translateY(-2px) rotate(-45deg);
      -moz-transform: translateY(-2px) rotate(-45deg);
      -ms-transform: translateY(-2px) rotate(-45deg);
      -o-transform: translateY(-2px) rotate(-45deg);
      transform: translateY(-2px) rotate(-45deg);
      top: 2px;
    }
  /* END OF MOBILE MODAL MENU CSS STUFF */


    /* landing page/home */
    .mobile-button {
        display: grid;
        background-color: #715A5A;
        text-decoration: none;
        color: #000000;
        border-radius: 3px;
        padding: 50% 30%;
        height: auto;
    }

    .mobile-button a {
        font-family: Bookman;
        color: #000000;
        text-decoration: none;
    }

    .mobile-nav {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 10px 10px;
        margin: 50px 50px 50px 0px;
        /* width: esfgd85vw; */
        height: auto;
      }
    /* end landing page/home  */


    h1 {
        font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
        font-size: 48px;
        color: #FFFBD5;
    }

    /* store page */

    .store-container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 30px 20px;
        margin: 50px 50px 50px 25px;
        width: 75vw;
        height: auto;
        }

    .shop {
        display: grid;
        border-radius: 3px;
        height: auto;
    }

    .store-container img {
        width: 100%;
    }

    .shop .artist {
      text-decoration: none;
      color: #e5e5e5;
      font-family: Bookman;
    }

    .shop .album {
      font-family: 'FuturaStd-BookOblique';
      font-size: 14px;
    }
    /* end of store page */


    /* contact page */
    h2 {
        font-family: Futura;
        color: #e5e5e5;
    }

    .email-list {
      width: 80%;
      height: 25px;
      background-color: #c4c4c4;
      cursor: text;
      border-radius: 3px;
      margin-top: -12px;
      font-family: Futura;
      font-style: oblique;
      font-size: 15px;
      vertical-align: center;
      padding-top: 3px;
      padding-left: 7px;
      color: #818181;
        }
    /* end contact page */


    /* event page */
    h3 {
        color: #fffbd5;
        font-family: 'FuturaStd-CondensedBold';
        font-size: 30px;

    }

    .event {
        color: #e5e5e5;
        background-color: #868282;
        padding: 10px 0px 10px 20px;
        margin-bottom: 30px;
        border-radius: 6px;
    }
    /* end event page */

}

@media (min-width: 520px) {
header {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 15%;
    /* border: springgreen 1px solid; */
    margin: 0%;
    justify-content: center;
  }

body {
  /* margin: 10px 20px 50px 20px; */
  margin: 1% 20% 3% 20%;
}

.btn_container, .mobile-button {
  visibility: hidden;
  width: 0%;
}

a .logo {
  display: flex;
  width: 100%;
  margin: auto;
  position: relative;
  /* border: #000000 1px solid; */
}

  h1 {
      font-family: Bookman, Georgia, 'Times New Roman', Times, serif;
      font-size: 48px;
      color: #FFFBD5;
      /* padding-left: 10%; */
  }

  .shop-page {
    background-image: url(../project2/images/store-bkgd-transp.png);
    background-size: cover;
  }

  .contact-page {
    background-image: url(../project2/images/contact-bkgd-transp.png);
    background-size: cover;
  }

  .bg-color {
    background-color: rgba(73, 65, 65, .9);
    padding: 10px 60px;
    padding-bottom: 50px;
    z-index: 3;
  }
  /* 56tyg6tyghbc3ws */

  .event-page {
    background-image: url(../project2/images/events-bkgd-transp.png);
    background-size: cover;
  }

  .about-page {
    background-image: url(../project2/images/about-bkgd-transp.png);
    background-size: cover;
  }

/* NAVIGATION & MENU END */

/* landing nav */
.homepage {
  display: grid;
  
}

.homepage img {
  display: grid;
  width: 70%;
}

.mobile-nav {
  visibility: hidden;
}

.landing-nav {
  display: grid;
  grid-template-rows: repeat(4, 25%);
  height: 50%;
}

.nav-block {
  display: grid;
  background-color: #715A5A;
  padding: 20px;
  height: 100%;
  width: auto;
}

/* land nav end */


  .left {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 50%;
    /* border: yellowgreen solid 1px; */
  }

  .right {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 50%;
    /* border: 1px solid aqua; */
  }

      .menu-block {
        display: grid;
        background-color: #715A5A;
        padding: 20px;
        height: 100%;
        width: auto;
        border: #c4c4c4 1px dashed;
        /* padding: auto; */
      }

      .menu-block a {
        color: #e5e5e5;
        text-decoration: none;
        width: 120px;
        height: 120px;
        margin: auto;
        padding: auto;
        /* border: 1px dashed yellow; */
      }

      .menu-item {
        display: grid;
        background-color: #202124;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        justify-content: center;
        align-content: center;
        position: absolute;
        border: 1px solid yellow;
      }

      .recorddisk {
        position:absolute;
        width: 125px;
        height: 125px;
        z-index: -11;
        display: block;
        transition: all .25s ease-out;
        background-color: #202124;
        border-radius: 50%;
        }

        div.menu-block:hover .recorddisk {
          transform:  translateY(60px);
          }
/* NAVIGATION & MENU END */

/* store page */
  .store-container {
      display: grid;
      grid-template-columns: repeat(4, 22%);
      gap: 40px 30px;
      margin: auto;
      width: 50vw;
      height: auto;
      /* border: 2px solid yellowgreen; */
    }

  .shop {
      display: grid;
      border-radius: 3px;
      height: auto;
      border: 2px solid white;
      padding: 5px;
    }

      .store-container img {
          width: 100%;
          /* border: 2px solid pink; */
      }

      .artist {
        font-family: Bookman;
        font-size: 18px;
        text-decoration: none;
        color: #e5e5e5;
        margin-top: 5px;
        /* border: 2px dashed purple; */
      }

      .album {
        font-family: 'FuturaStd-BookOblique';
        font-size: 14px;
        text-decoration: none;
        color: #e5e5e5;
        /* border: 2px solid orchid; */
      }
/* end of store page */


/* contact page */
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: min-content;
    gap: 15px 20px;
  }

  .contact-item {
    display: grid;
    border: 2px solid white;
    padding: 5px 5px 5px 15px;
  }

  h2 {
      font-family: Futura;
      color: #FFFBD5;
      margin-bottom: -5px;
  }

  .contact-info {
    font-size: 15px;
    line-height: 24px;
  }

  .email-list {
    width: 75%;
    height: 30px;
    background-color: #c4c4c4;
    cursor: text;
    border-radius: 3px;
    margin-top: 12px;
    font-family: Futura;
    font-style: oblique;
    font-size: 15px;
    vertical-align: center;
    padding-top: 4px;
    padding-left: 10px;
    color: #818181;
    }
/* end contact page */


/* event page */

  h3 {
      color: #fffbd5;
      font-family: 'FuturaStd-CondensedBold';
      font-size: 30px;
  }

  .event {
      color: #e5e5e5;
      background-color: #868282;
      padding: 10px 0px 10px 20px;
      margin-bottom: 30px;
      border-radius: 6px;
  }
/* end event page */

/* ABOUT PAGE */

  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 55% 40%);
    gap: 0px 20px;
    margin: -15px 50px 50px 25px;
    width: 50vw;
    line-height: 16pt;
    font-size: 12pt;
    position: relative;
  }

  .about-container img {
    width: 100%;
    margin-top: 15px;
  }



}


